body {
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/* background: #ecf0f1;
  color: #050620; */
	background: #050620;
  background: -webkit-radial-gradient(rgba(5,6,32,0.79), rgba(5,6,32,0.91));
  background:    -moz-radial-gradient(rgba(5,6,32,0.79), rgba(5,6,32,0.91));
  background:         radial-gradient(rgba(5,6,32,0.79), rgba(5,6,32,0.91));
  color: #ecf0f1;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 40px;
  padding: 1rem;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}


.repo-cards-list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.repo-card {
  padding: 1rem;
}
.repo-card-link {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ecf0f1;
	background: hsl(207, 69%, 48%);
	background: -webkit-linear-gradient(to right bottom, hsl(207, 69%, 48%), hsl(215, 81%, 37%));
	background:    -moz-linear-gradient(to right bottom, hsl(207, 69%, 48%), hsl(215, 81%, 37%));
	background:         linear-gradient(to right bottom, hsl(207, 69%, 48%), hsl(215, 81%, 37%));
	text-decoration: none;
	transition: all 0.3s ease-out;
}
.repo-card:nth-child(2) .repo-card-link {
	background: hsl(7, 69%, 48%);
	background: -webkit-linear-gradient(to right bottom, hsl(7, 69%, 48%), hsl(15, 81%, 37%));
	background:    -moz-linear-gradient(to right bottom, hsl(7, 69%, 48%), hsl(15, 81%, 37%));
	background:         linear-gradient(to right bottom, hsl(7, 69%, 48%), hsl(15, 81%, 37%));
}
.repo-card:nth-child(3) .repo-card-link {
	background:         linear-gradient(to right bottom, hsl(84, 69%, 48%), hsl(84, 81%, 37%));
}
.repo-card-link:hover {

}
